<div data-hook="admin_discount_meta" class="alpha omega twelve columns">
  <% @first_sale = get_first_sale!(@product) %>
  <h2>Discount Fields</h2>
  <hr />
  For Sale?:
  <%= @product.on_sale? %>
  <br />
  Original Price:
  <%= @product.original_price.to_f %>
  <br>
  Discount Price:
  <%= display_discount_percent(@product) %>
  <br>
  <% if !@product.first_sale.nil? %>
  Start Date:
  <%= @first_sale.start_at %>
  <br />
  End Date:
  <%= @first_sale.end_at %>
  <br />
  <% end %>

<hr />

  <%= form_for( @product, :url => "/admin/products/#{@product.permalink}/put_on_sale") do |f| %>
    <%= f.fields_for :discount_price do |discount_form| %>
      <%= discount_form.label :amount, "amount" %>
      <%= discount_form.text_field :amount, value: @first_sale.amount %>
      <br />

      <%= discount_form.label :enabled %>
      <%= discount_form.check_box :enabled, checked: @first_sale.enabled %>
      <br>

      <%= discount_form.label :start_date %>
      <%= discount_form.text_field :start_date, :value => datepicker_field_value(@first_sale.start_at), :class => 'datepicker' %>
      <br />

      <%= discount_form.label :end_date %>
      <%= discount_form.text_field :end_date, :value => datepicker_field_value(@first_sale.end_at), :class => 'datepicker' %>
      <br />

      <%= discount_form.label :affect_all %>
      <%= discount_form.check_box :affect_all, checked: true %>
      <br />

      <%= discount_form.submit %>

    <% end %>
  <% end %>
  <br>
  <table border=1>
    <tr>
      <th>SKU</th>
      <th>Options</th>
      <th>For Sale</th>
      <th>Original Price</th>
      <th>Discount Percent</th>
      <th>Discount Price</th>
      <th>Enabled</th>
      <th nowrap style="width:100px">Start Date</th>
      <th nowrap style="width:100px">End Date</th>
      <th>Action</th>
    </tr>
  <% @product.variants.each do |variant| %>
    <tr>
      <td>
        <%= variant.sku %>
      </td>
      <td>
        <%= variant.options_text %>
      </td>
      <td>
        <%= variant.on_sale? %>
      </td>
      <td>
        <%= display_original_price(variant) %>
      </td>
      <td>
        <%= display_discount_percent(variant) %>
      </td>
      <%= form_for(variant, :url => "/admin/variants/#{variant.id}/put_on_sale") do |f| %>
        <%= f.fields_for :discount_price do |discount_form| %>
          <% first_sale = get_first_sale!(variant) %>
          <td>
            <%= discount_form.text_field :amount, value: first_sale.amount %>
          </td>
          <td>
            <%= discount_form.check_box :enabled, checked: first_sale.enabled %>
          </td>
          <td>
          <%= discount_form.text_field :start_date, :value => datepicker_field_value(first_sale.start_at), :id => variant.id.to_s+'-start', :class => 'datepicker' %>
          </td>
          <td>
          <%= discount_form.text_field :end_date, :value => datepicker_field_value(first_sale.end_at), :id => variant.id.to_s+'-end', :class => 'datepicker' %>
          </td>
          <td>
            <%= discount_form.submit %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </table>

</div>

