<% if product.store_only %>
  <% if product.on_sale? %>
    <span class="store-only discount"><%= display_discount_percent(product) %></span>
  <% end %>
<% else %>
  <% if product.on_sale? %>
    <span class="price" itemprop="price">
      <span class="price before"><%= display_original_price(product) %></span>
      <span class="sale"><%= display_discount_percent(product) %></span></br>
      <span class="price selling" itemprop="price"><%= product_price(product) %></span>
    </span>
  <% else %>
      <span class="price selling" itemprop="price"><%= product_price(product) %></span>
  <% end %>
<% end %>
